:root {
    --cfOrangeGradient: linear-gradient(to right, #CC6600, #FF993B, #FFDAB9);    
}

body {
    background: rgb(243, 243, 243)
}

main{
    margin: 25px 0px 25px 0px;
}

main div {
    font-size: 7rem;
    font-family: "Fira Sans", system-ui;
    font-weight: 900;    
    text-transform: uppercase;    
    padding: .5rem;
    border-radius: 15px;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    display:flex;
    align-items: center;
    justify-content: center;
}

.boxOne {
    color: transparent;
    background: var(--cfOrangeGradient);
    -webkit-background-clip: text;
    background-clip: text;

}

.boxTwo {
    color: transparent;
    background: url(/img/ColorClouds.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;

}

.boxThree {
    color: rgba(18, 171, 1, 0.2);
    background: url(/img/DataGlitchBW.gif);
    -webkit-background-clip: text;
    background-clip: text;
}