:root {
    --cfOrangeGradient: linear-gradient(to right, #CC6600, #FF993B, #FFDAB9);
    --cfBlueGradient: linear-gradient(to right, #1A2733, #2B404F, #395667);
    --cfSubtleRadialGradient: radial-gradient(circle, #2B404F, #1A2733 50%, #0F1A23 100%);
}

body {
    color: rgb(241, 241, 241);

}



.title {
    color: transparent;
    background: var(--cfOrangeGradient);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Fira Sans", system-ui;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2rem;
}


.subtitle {
    font-family: "Fira Sans", system-ui;
    font-weight: 400;
    font-style: normal;
}

.mainBg {
    background: var(--cfSubtleRadialGradient);
}

.cta-section {
    background: rgba(117, 117, 117, 0.2);
    color: #fff;

}

.ctaTitle {
    font-family: "Fira Sans", system-ui;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2rem;
}

.ctaSubTitle {
    font-family: "Fira Sans", system-ui;
    font-weight: 300;
    font-style: normal;
    font-size: 1.6rem;
}

@media (min-width: 768px) {

    .title {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}


.ctaStyle {

    padding-top: 1rem;

    background: rgba(117, 117, 117, 0.2);
    color: #fff;

    font-family: "Fira Sans", system-ui;
    font-weight: 900;
    font-style: normal;
    font-size: .9rem;
    text-transform: uppercase;
    line-height: 1rem;
}

.ctaStyle i {
    color: var(--cf-theme-core);
}

@media (min-width: 768px) {
    .ctaStyle {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-top-color: var(--cf-theme-core);
        border-left-color: var(--cf-theme-core);
        border-right-color: var(--cf-theme-core);
        border-top-style: solid;
        border-right-style: solid;
        border-left-style: solid;
        border-top-width: 2px;
        border-right-width: 2px;
        border-left-width: 2px;

        background: rgba(117, 117, 117, 0.2);
        color: #fff;

        font-family: "Fira Sans", system-ui;
        font-weight: 900;
        font-style: normal;
        font-size: 1.5rem;
        text-transform: uppercase;
        line-height: 1rem;
    }
}